@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: 0;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}


/* General */


body {
  position: relative;
  font-family: 'Open Sans',sans-serif;
}

.container {
  max-width: 1703px;
  padding-left: 51px;
  padding-right: 48px;
  margin: 0 auto;
}

.medium_title {
  font-size: 48px;
  font-weight: 400;
  color: #333333;
}

:root {
  --color-white: #fff;
  --color-violet_hover: #C283F3;
  --color-violet: #7943A4;
}


/* HEADER */

.header {
  position: relative;
  width: 100%;
  z-index: 2;
}

.header-top {
  background-color: rgb(0, 0, 0);
}

.header__container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 30px;
}

.logo {
  display: block;
}

/* burger */

.header__burger-btn {
  display: none;
  position: relative;
  width: 34px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  border: none;
}

.burger__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: width 0.5s ease-in-out;
}

.burger__line:first-child {
  top: 0;
}

.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line:last-child {
  bottom: 0;
}

.header__burger-btn:hover {
  color: #ff9900;
  transition: color 0.3s ease-in-out;
}

.header__burger-btn:active {
  color: #e1670e;
}

.header__burger-btn:hover .burger__line:nth-child(2) {
  width: 75%;
  transition: width 0.3s ease-in-out;
}

.header__burger-btn:hover .burger__line:last-child {
  width: 25%;
  transition: width 0.3s ease-in-out;
}

.menu {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  padding-top: 100px;
  padding-left: 54px;
  background-color: rgba(0, 0, 0, 0.877);
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
  transform: none;
}

.menu.is-active {
  transform: translateX(100%);
  z-index: 10;
}

.menu_list {
  margin-bottom: 90px;
  z-index: 10;
}

.menu_item {
  padding-bottom: 15px;
  z-index: 10;
}

.menu_link {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.menu_link:hover {
  color: var(--color-violet);
  transition: color 0.3s ease-in-out;
}

.menu_link:active {
  color: var(--color-violet);
  transition: color 0.3s ease-in-out;
}

.menu_link:focus {
  color: var(--color-violet);
  transition: color 0.3s ease-in-out;
}

.cross__btn {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 29px;
  height: 29px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.cross::before {
  position: absolute;
  content: "";
  display: block;
  top: 11px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: var(--color-white);
  transform: rotate(45deg);
  color: var(--color-white);
  transition: color, background-color 0.3s ease-in-out;
}

.cross::after {
  position: absolute;
  content: "";
  display: block;
  top: 11px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: var(--color-white);
  transform: rotate(-45deg);
  color: var(--color-white);
  transition: color, background-color 0.3s ease-in-out;
}

.cross:hover::before {
  background-color: var(--color-violet);
  transition: background-color 0.3s ease-in-out;
}

.cross:hover::after {
  background-color: var(--color-violet);
  transition: background-color 0.3s ease-in-out;
}

.cross:active::before {
  background-color: var(--color-violet);
  transition: background-color 0.3s ease-in-out;
}

.cross:active::after {
  background-color: var(--color-violet);
  transition: background-color 0.3s ease-in-out;
}

.cross:focus::before {
  background-color: var(--color-violet);
  transition: background-color 0.3s ease-in-out;
}

.cross:focus::after {
  background-color: var(--color-violet);
  transition: background-color 0.3s ease-in-out;
}

.menu_button {
  padding: 16px 88px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.850);
  color: var(--color-white);
  border-radius: 30px;
  border: 1px solid var(--color-violet);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.menu_button:hover {
  background-color: var(--color-violet_hover);
  transition: background-color 0.3s ease-in-out;
}

.menu_button:active {
  background-color: var(--color-violet);
  transition: background-color 0.3s ease-in-out;
}

.menu_button:focus {
  background-color: var(--color-violet);
  transition: background-color 0.3s ease-in-out;
}
/* nav */

.nav {  
  width: 900px;
  transform: translateX(27px);
}

.nav_list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.nav_item:last-child {
  margin-right: 0;
}

.nav_link {
  padding: 2px 3px;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 600;
  transition: color, 0.2s ease-in-out;
}

.nav_link:focus {
  color: var(--color-white);
  background-color: var(--color-violet);
  transition: color, 0.2s ease-in-out;
}

.nav_link:hover {
  color: var(--color-violet_hover);
  background-color: #000;
}

.nav_link:active {
  color: var(--color-violet);
}

.entry_block {
  width: 78px;
}

.entry_link {
  padding: 2px 3px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
  transition: fill, color, background-color, 0.2s ease-in-out;
}

.entry_link-span {
  transition: fill 0.2s ease-in-out;
}

.entry_link:focus{
  color: var(--color-white);
  background-color: var(--color-violet);
  transition: color 0.2s ease-in-out;
}

.entry_link:hover {
  color: var(--color-violet_hover);
  background-color: #000;
}

.entry_link:hover .entry_link-span {
  fill: var(--color-violet_hover);
}

.entry_link:active {
  color: var(--color-violet);
}

.entry_link:active .entry_link-span {
  fill: var(--color-violet);
}

.header_search-adaptive {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header_search-adaptive-active {
  display: none;
  position: absolute;
  z-index: 10;
  top: 32px;
  right: 46px;
  bottom: 0;
  width: 260px;
  height: 36px;
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
  transform: none;
  background-color: #18171B;
}


.header_search-adaptive-btn {
  padding-right: 7px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header_search-adaptive-input {
  margin-right: 10px;
  background-color: #18171B;
  border: transparent;
  border-bottom: 1px solid white;
}


.header_search-adaptive-cross {
  stroke: var(--color-white);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(-2px);
  transition: stroke 0.3s ease-in-out;
}

.header_search-adaptive-cross:hover {
  stroke: var(--color-violet_hover);
  transition: stroke 0.3s ease-in-out;
}

.header_search-adaptive-cross:active {
  stroke: var(--color-violet);
  transition: stroke 0.3s ease-in-out;
}



@media (max-width: 1400px) {

  .nav {
    width: 700px;
  }

  .logo {
    margin-right: 75px;
  }

}

@media (max-width: 1200px) {

  .header__burger-btn {
    display: block;
  }

  .header_search-adaptive-active {
    display: block;
  }

  .header_search-adaptive-active.is-active {
    display: none;
    transform: translateX(0);
    z-index: 10;
  }

  .logo {
    margin-right: 0;
  }

  .nav {
    display: none;
  }

  .entry_block {
    display: none;
  }

  .header_search-adaptive {
    display: block;
  }

  .header_search-svg {
    width: 29px;
    height: 28px;
  }

  .menu {
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    transform: none;
    visibility: visible;
  }

  .menu.is-active {
    transform: translateX(-100%);
    visibility: hidden;
  }

  .menu_list {
    z-index: 10;
  }

  .menu_item {
    margin-bottom: 30px;
    z-index: 10;
  }
}

@media (max-width: 850px) {

  .header_search-adaptive-active {
    width: 220px;
  }

  .header_search-adaptive-input {
    width: 140px;
  }
}

@media (max-width: 767px) {

  .menu {
    height: 100%;
  }

  .header_search-svg {
    width: 27px;
    height: 27px;
  }

  .menu_button {
    padding: 16px 78px;
  }

  .header_search-adaptive-active {
    top: 25px;
  }

}

@media (max-width: 420px) {

  .container {
    padding-left: 15px;
    padding-right: 11px;
  }

  .logo {
    margin-right: 0;
  }

  .header__container-flex {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header__burger-btn {
    width: 25px;
    height: 18px;
  }

  .header_search-svg {
    width: 18px;
    height: 18px;
  }

  .cross__btn {
    left: 15px;
    top: 15px;
  }

  .menu {
    height: 100%;
    padding-top: 50px;
    padding-left: 15px;
  }

  .menu_button {
    padding: 16px 68px;
  }

  .menu_list {
    margin-bottom: 10px;
  }

  .menu_link {
    font-size: 16px;
  }

  .menu_item {
    padding: 0;
    margin-bottom: 15px;
  }
}

/* Header_bottom */

.header-bottom_container {
  display: flex;
  justify-content: space-between;
}

.header-bottom {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.404);
  padding-top: 20px;
  padding-bottom: 21px;
  z-index: 2;
}

.bottom_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1036px;
}

.bottom_nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.bottom_nav-btn {
  padding: 4px 6px 6px 6px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
} 

.bottom_nav-svg {
  transition: all 0.3s ease-in-out;
  transform: translateY(-1px);
}

.bottom_nav-btn:hover {
  color: var(--color-violet_hover);
  transition: color 0.3s ease-in-out;
}

.bottom_nav-btn:active {
  color: var(--color-violet);
  transition: color 0.3s ease-in-out;
}

.bottom_nav-btn:focus:not(:active) {
  color: var(--color-white);
  background-color: var(--color-violet);
  transition: color 0.3s ease-in-out;
}

.bottom_nav-btn:hover .bottom_nav-svg {
  stroke: var(--color-violet_hover);
  transition: stroke 0.3s ease-in-out;
}

.bottom_nav-btn:active .bottom_nav-svg {
  stroke: var(--color-violet);
  transition: stroke 0.3s ease-in-out;
}

.bottom_nav-btn:focus:not(:active)  .bottom_nav-svg{
  stroke: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.nav_dropdawn-content {
  display: none;
  position: absolute;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.404);
  width: 300px;
  height: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav_dropdawn-content--active {
  display: flex;
  flex-direction: column;
  transform: translateY(23px);
}

.nav_dropdawn-link {
  display: inline-block;
  width: 220px;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.nav_dropdawn-link:hover {
  color: var(--color-violet_hover);
  transition: color 0.3s ease-in-out;
}

.nav_dropdawn-item {
  margin-bottom: 20px;
}

.nav_dropdawn-item:last-child {
  margin-bottom: 0;
}

.nav_dropdawn-item_tin {
  background-image: url('../image/nav_bg_tin.png');
}

.nav_dropdawn-item_fri {
  background-image: url('../image/nav_bg_fri.png');
}

.nav_dropdawn-item_leo {
  background-image: url('../image/nav_bg_leo.png');
}

.nav_dropdawn-item_ver {
  background-image: url('../image/nav_bg_ver.png');
}  

.nav_dropdawn-item_mone {
  background-image: url('../image/nav_bg_mone.png');
} 

.nav_dropdawn-item_sisley {
  background-image: url('../image/nav_bg_sisley.png');
} 

.nav_dropdawn-item_mane {
  background-image: url('../image/nav_bg_mane.png');
} 

.nav_dropdawn-item_renuar {
  background-image: url('../image/nav_bg_renuar.png');
} 

.nav_dropdawn-item_vangog {
  background-image: url('../image/nav_bg_vangog.png');
} 

.nav_dropdawn-item_sezann {
  background-image: url('../image/nav_bg_sezann.png');
} 

.nav_dropdawn-item_gogen {
  background-image: url('../image/nav_bg_gogen.png');
} 

.nav_dropdawn-item_sera {
  background-image: url('../image/nav_bg_sera.png');
} 

.nav_dropdawn-item_kandinski {
  background-image: url('../image/nav_bg_kandinski.png');
} 

.nav_dropdawn-item_marinetti {
  background-image: url('../image/nav_bg_marinetti.png');
} 

.nav_dropdawn-item_malevich {
  background-image: url('../image/nav_bg_malevich.png');
} 

.nav_dropdawn-item_picasso {
  background-image: url('../image/nav_bg_picasso.png');
} 

.nav_dropdawn-item_kappa {
  background-image: url('../image/nav_bg_kappa.png');
} 

.nav_dropdawn-item_pratella {
  background-image: url('../image/nav_bg_pratella.png');
} 

.nav_dropdawn-item_severini {
  background-image: url('../image/nav_bg_severiny.png');
} 

.nav_dropdawn-item_balla {
  background-image: url('../image/nav_bg_balla.png');
} 

.simplebar-scrollbar {
  background-color: var(--color-white);
}

.simplebar-visible {
  background-color: var(--color-white);
}

.header_search::placeholder {
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
}

.header_form {
  transform: translateX(-3px);
}

.search_button {
  width: 21px;
  height: 22px;
  background-image: url('../image/search_nav.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(3px);
}

.header_search {
  padding-bottom: 2px;
  width: 225px;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 5px;
  cursor: pointer;
  transform: translateY(-1px);
  border-bottom: 1px solid var(--color-white);
}

.header_search:hover {
  border-bottom: 1px solid var(--color-violet_hover);
}

.header_search:focus {
  border-bottom: 1px solid var(--color-violet);
}

.header_search:active {
  border-bottom: 1px solid var(--color-violet);
}

.header_search:focus::placeholder {
  color: transparent;
}

input[type="search"]:focus {
  color: var(--color-white);
}

@media (max-width: 1400px) {

  .bottom_menu {
    width: 836px;
  }

  .header_search {
    width: 155px;

  }
}

@media (max-width: 1200px) {

  .header-bottom {
    display: none;
  }

}


/* Hero */

.hero {
  position: relative;
  width: 100%;
  margin-bottom: 85px;
  overflow: hidden;
  padding-top: 139px;
  padding-bottom: 122px;
}

.swiper-container { 
  top: 0;
  left: 0;
  height: 100%;
  animation: scale 10s linear;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-slide_one {
  background-image: url("../image/hero_bg.jpg");
  z-index: -1;
}

.swiper-slide_two {
  background-image: url("../image/hero_bg_2.png");
  z-index: -1;
}

.swiper-slide_three {
  background-image: url("../image/hero_bg_3.png");
  z-index: -1;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hero_main {
  position: relative;
  z-index: 1;
}

.hero_heading {
  max-width: 600px;
  margin-bottom: 20px;
  font-size: 72px;
  font-weight: 800;
  color: var(--color-white);
}

.hero_description {
  max-width: 580px;
  margin-bottom: 93px;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-white);
  line-height: 30px;
}

.hero_button {
  padding: 25px 35px;
  font-size: 18px;
  font-weight: 800;
  background-color: #9D5CD0;
  color: var(--color-white);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: box-shadow, background-color 0.3s ease-in-out;
}

.hero_button:hover {
  box-shadow: inset 0 0 0 3px#D1A9F0;
  transition: box-shadow 0.3s ease-in-out;
}

.hero_button:focus {
  background-color: var(--color-violet);
  transition: box-shadow 0.3s ease-in-out;
}

.hero_button:active {
  box-shadow: inset 0 0 0 3px #D1A9F0;
  background-color: var(--color-violet);
  transition: box-shadow, background-color 0.3s ease-in-out;
}

@media (max-width: 1200px) {

  .hero {
    padding-top: 110px;
    padding-bottom: 116px;
    margin-bottom: 83px;
  }

  .hero_heading {
    margin-bottom: 14px;
  }

  .hero_description {
    margin-bottom: 132px;
    max-width: 660px;
  }

  .swiper-slide_one {
    background-image: url("../image/hero_bg_1024.jpg");
  }
  
  .swiper-slide_two {
    background-image: url("../image/hero_bg_2_1024.jpg");
  }
  
  .swiper-slide_three {
    background-image: url("../image/hero_bg_3_1024.jpg");
  }
}

@media (max-width: 1024px) {

  .swiper-slide_one {
    background-image: url("../image/hero_bg_768.jpg");
  }
  
  .swiper-slide_two {
    background-image: url("../image/hero_bg_2_768.jpg");
  }
  
  .swiper-slide_three {
    background-image: url("../image/hero_bg_3_768.jpg");
  }
}

@media (max-width: 767px) {

  .hero_heading {
    font-size: 50px;
  }
}

@media (max-width: 420px) {

  .swiper-slide_one {
    background-image: url("../image/hero_bg_320.jpg");
  }
  
  .swiper-slide_two {
    background-image: url("../image/hero_bg_2_320.jpg");
  }
  
  .swiper-slide_three {
    background-image: url("../image/hero_bg_3_320.jpg");
  }

  .hero {
    padding-top: 34px;
    padding-bottom: 48px;
    margin-bottom: 52px;
  }

  .hero_heading {
    padding-left: 24px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
  
  .hero_description {
    margin-bottom: 57px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
  }
  
  .hero_button {
    margin-left: 47px;
    padding: 12px 17px;
    font-size: 12px;
    font-weight: 700;
  }
}

/* About */

.about {
  margin-bottom: 65px;
  padding-bottom: 5px;
}

.about_descr {
  width: 68%;
  padding-top: 22px;
  margin-right: 520px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

@media (max-width: 1024px) {

  .about_descr {
    width: 100%;
  }
}

@media (max-width: 420px) {

  .medium_title {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 400;
  }


  .about_descr {
    width: 98%;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }
}


/* Gallery */

.gallery {
  width: 100%;
  height: 995px;
  padding-top: 63px;
  padding-bottom: 80px;
  background-image: url('../image/gallery_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery_container {
  display: flex;
  flex-direction: row;
  min-width: 0;
}

.gallery_left {
  width: 400px;
  height: 100%;
  margin-right: 50px;
}

.medium_title-gallery {
  margin-bottom: 30px;
  color: var(--color-white);
}

.subtitle_gallery {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
}

.select_block-gallery {
  margin-bottom: 595px;
  background-color: transparent;
}

.choices {
  color: var(--color-white);
}

.choices .choices__inner {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 7px;
}

.is-open .choices__inner {
  border-radius: 7px;
}

.is-open .choices__list--dropdown {
  background-color: transparent;
  border-radius: 7px;
}

.choices__item--choice {
  border-bottom: 1px solid #999999;
  color: #999999;
}

.choices__item--choice:last-child {
  border-bottom: none;
}

.gallery_desc {
  width: 400px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.gallery_pagination-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #666666;
  cursor: pointer;
}

.gallery_pagination-span {
  margin-left: 5px;
  margin-right: 5px;
  color: var(--color-white);
}

.swiper {
  position: absolute;
  overflow: hidden;
  max-width: 1150px;
  height: 850px;
}

.swiper-wrapper {
  width: 100%;
}

.swiper .swiper-slide-gallery {
  max-height: 350px;
  overflow: hidden;
}

.swiper-slide-gallery-one {
  background-image: url('../image/gallery_picture_one.jpg');
}

.swiper-slide-gallery-two {
  background-image: url('../image/gallery_picture_two.jpg');
}

.swiper-slide-gallery-three {
  background-image: url('../image/gallery_picture_three.jpg');
}

.swiper-slide-gallery-four {
  background-image: url('../image/gallery_picture_four.jpg');
}

.swiper-slide-gallery-five {
  background-image: url('../image/gallery_picture_five.jpg');
}

.swiper-slide-gallery-six {
  background-image: url('../image/gallery_picture_six.jpg');
}