@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

/* General */


body {
  position: relative;
  font-family: 'Open Sans',sans-serif;
}

.container {
  max-width: 1703px;
  padding-left: 51px;
  padding-right: 48px;
  margin: 0 auto;
}

.medium_title {
  font-size: 48px;
  font-weight: 400;
  color: #333333;
}

:root {
  --color-white: #fff;
  --color-violet: #C283F3;
  --color-violet_focus: #9D5CD0;
  --color-violet_active: #7943A4;
}


/* HEADER */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header-top {
  background-color: rgb(0, 0, 0);
}

.header__container-flex {
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 30px;
}

.logo {
  margin-right: 179px;
}

.nav_list {
  display: flex;
  flex-direction: row;
}

.nav_item {
  margin-right: 56px;
}

.nav_item:last-child {
  margin-right: 0;
}

.nav_link {
  padding: 2px 3px;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 600;
  transition: color, 0.2s ease-in-out;
}

.nav_link:focus {
  color: var(--color-white);
  background-color: var(--color-violet);
  transition: color, 0.2s ease-in-out;
}

.nav_link:hover {
  color: var(--color-violet_focus);
  background-color: #000;
}

.nav_link:active {
  color: var(--color-violet_active);
}

.entry_block {
  margin-left: auto;
  width: 78px;
}

.entry_link {
  padding: 2px 3px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
  transition: fill, color, background-color, 0.2s ease-in-out;
}

.entry_link-span {
  transition: fill 0.2s ease-in-out;
}

.entry_link:focus{
  color: var(--color-white);
  background-color: var(--color-violet);
  transition: color 0.2s ease-in-out;
}

.entry_link:hover {
  color: var(--color-violet_focus);
  background-color: #000;
}

.entry_link:hover .entry_link-span {
  fill: var(--color-violet_focus);
}

.entry_link:active {
  color: var(--color-violet_active);
}

.entry_link:active .entry_link-span {
  fill: var(--color-violet_active);
}


/* Header_bottom */

.header-bottom_container {
  display: flex;
  justify-content: space-between;
}

.header-bottom {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.404);
  padding-top: 21px;
  padding-bottom: 19px;
  z-index: 2;
}

.bottom_menu {
  display: flex;
  align-items: center;
  max-width: 1036px;
}

.nav_dropdawn {
  position: relative;
  display: inline-block;
  margin-right: 92px;
}

.nav_dropdawn:last-child {
  margin-right: 0;
}

.nav_dropdawn-btn {
  padding: 2px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
  background-color: transparent;
  border: none;
  cursor: pointer;
} 

.nav_dropdawn-btn:focus{
  color: var(--color-white);
  background-color: var(--color-violet);
  transition: color 0.2s ease-in-out;
}

.nav_dropdawn-btn:hover {
  color: var(--color-violet_focus);
}

.nav_dropdawn-btn:active {
  color: var(--color-violet_active);
} 

.nav_dropdawn-btn::after {
  display: inline-block;
  content: "";
  width: 13px;
  height: 12px;
  background-image: url('../image/arrow_nav.svg');
  background-repeat: no-repeat;
  background-position: right center;
  padding-left: 3px;
}

.nav_dropdawn-btn:hover::after{
  color: var(--color-violet);
}

.nav_dropdawn-content {
  display: none;
  position: absolute;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.404);
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.show {
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.nav_dropdawn-content_one {
  top: 45px;
  left: 0;
}

.nav_dropdawn-content_two {
  top: 45px;
  left: 100px;
}

.nav_dropdawn-link {
  padding: 12px 14px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-white);
}

.nav_dropdawn-link:last-child {
  margin-bottom: 0;
}

.nav_dropdawn-link_tin {
  background-image: url('../image/nav_bg_tin.png');
}

.nav_dropdawn-link_fri {
  background-image: url('../image/nav_bg_fri.png');
}

.nav_dropdawn-link_leo {
  background-image: url('../image/nav_bg_leo.png');
}

.nav_dropdawn-link_ver {
  background-image: url('../image/nav_bg_ver.png');
}



.header_search::placeholder {
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
}

.header_form {
  transform: translateX(-3px);
}

.search_button {
  width: 21px;
  height: 22px;
  background-image: url('../image/search_nav.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(3px);
}

.header_search {
  padding-bottom: 2px;
  width: 225px;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 5px;
  cursor: pointer;
  transform: translateY(-1px);
  border-bottom: 1px solid var(--color-white);
}

.header_search:hover {
  border-bottom: 1px solid var(--color-violet);
}

.header_search:focus {
  border-bottom: 1px solid var(--color-violet_focus);
}

.header_search:active {
  border-bottom: 1px solid var(--color-violet_active);
}

.header_search:focus::placeholder {
  color: transparent;
}

input[type="search"]:focus {
  color: var(--color-white);
}



/* Hero */

.hero {
  margin-bottom: 85px;
  overflow: hidden;
}

.swiper-container { 
  max-width: 100%;
  height: 800px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

.swiper-container:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.swiper-slide_one {
  background-image: url("../image/hero_bg.jpg");
  z-index: -1;
}

.swiper-slide_two {
  background-image: url("../image/hero_bg_2.png");
}

.swiper-slide_three {
  background-image: url("../image/hero_bg_3.png");
}

.hero_main {
  position: absolute;
  top: 170px;
  left: 132px;
  z-index: 1;
}

.hero_heading {
  max-width: 600px;
  padding-top: 72px;
  margin-bottom: 20px;
  font-size: 72px;
  font-weight: 800;
  color: var(--color-white);
}

.hero_description {
  max-width: 580px;
  margin-bottom: 93px;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-white);
  line-height: 30px;
}

.hero_button {
  padding: 25px 35px;
  font-size: 18px;
  font-weight: 800;
  background-color: var(--color-violet);
  color: var(--color-white);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: box-shadow, background-color 0.2s ease-in-out;
}

.hero_button:hover {
  box-shadow: inset 0 0 0 3px#D1A9F0;
  transition: box-shadow 0.2s ease-in-out;
}

.hero_button:focus {
  box-shadow: inset 0 0 0 3px var(--color-white);
  transition: box-shadow 0.2s ease-in-out;
}

.hero_button:active {
  box-shadow: inset 0 0 0 3px #D1A9F0;
  background-color: var(--color-violet_active);
  transition: box-shadow, background-color 0.2s ease-in-out;
}

/* About */

.about {
  margin-bottom: 65px;
  padding-bottom: 5px;
}

.about_descr {
  width: 1080px;
  margin-top: 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* Gallery */

.gallery {
  margin-bottom: 85px;
  padding-top: 85px;
  min-height: 995px;
  background-image: url('../image/gallery_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container_gallery {
  display: flex;
}

.gallery_left {
  width: 400px;
}

.medium_title_gallery {
  color: var(--color-white);
}

.filter_title {
  margin-top: 28px;
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
}

.gallery_descr {
  width: 400px;
  margin-top: 562px;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-white);
  overflow: hidden;
}

.gallery_login {
  color: var(--color-violet_focus);
  transition: color 0.2s ease-in-out;
}

.gallery_login:hover {
  color: #D1A9F0;
  transition: color 0.2s ease-in-out;
}

.gallery_right {
  margin-left: 50px;
  margin-top: 14px;
}

.gallery_pagination {
  margin-bottom: 32px;
  margin-left: 2px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
}

.gallery_pagination::before {
  display: inline-block;
  content: "";
  width: 7px;
  height: 7px;
  padding: 11px;
  margin-right: 21px;
  background-image: url('../image/aroow_gallery_left.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(6px);
  background-color: #666666;
  border-radius: 25px;
  cursor: pointer;
}

.gallery_pagination::after {
  display: inline-block;
  content: "";
  width: 7px;
  height: 7px;
  padding: 11px;
  margin-left: 20px;
  background-image: url('../image/arrow_right_gallery.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(6px);
  background-color: #666666;
  border-radius: 25px;
  cursor: pointer;
}

.gallery_list {
  display: flex;
  flex-wrap: wrap;
}

.gallery_item {
  margin-right: 50px;
  margin-bottom: 50px;
}

.gallery_item:nth-child(3n) {
  margin-right: 0;
}